<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="fae_weeklyEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=fae_weekly;allowuservariables=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;database=fae_weekly;allowuservariables=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>