<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- connect to database server -->
   <!--<add key="DBConnStr" value="Server=127.0.0.1;User ID=root;Password=;Database=fae_weekly;CharSet=utf8;"/>-->
    <add key="DBConnStr" value="Server=10.114.113.10;User ID=fae;Password=fae2018;Database=fae_weekly;CharSet=utf8;"/>
    
        
  </appSettings>
</configuration>