<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DBConnStr" value="Server=127.0.0.1;User ID=fae;Password=;Database=fae_weekly;CharSet=utf8;"/>-->
    
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
